.main{
    width:1100px;
    flex-direction:column;
    background-color:rgb(180, 146, 83);
}

.firstDiv{
    display:flex;
    justify-content:center;
    background-color:black;
    color:white;
    margin-bottom:20px;
}

.secondDiv{
    display:flex;
    justify-content:space-between;
    padding-left:40px;
    padding-right:40px;
    background-color:lightgray;
    padding-top:20px;
    padding-bottom:20px;
}

.textInput{
    font-size:20px;
    border-style:solid;
    height:40px;
    width:300px;
    transition: box-shadow 0.0015s;
}

.textInput:hover{
    box-shadow: 5px 5px 0.4px rgba(0, 0, 0, 0.345);
}
.textInput:active{
    color:brown;
}
.add{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left:75px;
    padding-right:75px;
    margin-top:25px;
    height:120px;
}

.button{
    padding-left:4px;
    padding-right:4px;
    height:30px;
    font-size:20px;
    color:white;
    background-color:royalblue;
    border-style:solid;
}


.it{
    background-color:aqua;
}

.adjust{
    font-size:24px;
}

.additem{
    border-style:solid;
    border-radius:1px;
}